body {
  margin: 0;
  font-family:monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: -webkit-linear-gradient(90deg, rgb(34, 18, 111), rgb(95, 13, 123));
  background: -moz-linear-gradient(90deg, rgb(34, 18, 111), rgb(95, 13, 123));
  background: linear-gradient(90deg, rgb(34, 18, 111), rgb(95, 13, 123));
}

